@import '@fontsource/nunito';

:root {
  --yellow: #f1e400;
  --green: #53ffa3;
  --purple: #ea59f7;
  --white: #fff;
  --gray: #f2f2f2;
  --dark-gray: #222;
  --black: #151515;

  --background: var(--gray);
  --text-color: var(--dark-gray);
  --border-color: var(--dark-gray);
  --button-bg-color: var(--white);
  --live-cell-color: var(--yellow);
  --dead-cell-color: var(--white);
  --active-color: var(--purple);
}

html {
  font:
    16px 'Nunito',
    sans-serif;
  color: var(--text-color);
  background: var(--background);
}

.clickable {
  display: block;
  color: var(--border-color);
  border: 2px solid currentColor;
  box-shadow: 1px 1px 0 currentColor;
}

.clickable:focus-visible {
  outline: none;
  color: var(--active-color);
}

.clickable:hover {
  box-shadow: none;
  translate: 1px 1px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-gray);
    --text-color: var(--gray);
    --border-color: var(--gray);
    --button-bg-color: var(--black);
    --dead-cell-color: var(--black);
  }
}
